body,
td,
textarea,
input,
select {
	font-family: Ayar, "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-size: 13px;
}
.wrap h2 {
	font: italic normal normal 24px/29px "Ayar Wagaung", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
.code, code {
	font-family: Ayar, Consolas, Monaco, Courier, monospace;
}
.quicktags, .search {
	font: 12px Ayar, Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
#your-profile legend {
	font-family: Ayar, Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
.tablenav .displaying-num {
	font-family: Ayar, Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
#wphead h1 {
	font: normal 22px "Ayar Wagaung", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

#wphead h1.long-title {
	font: normal 18px "Ayar Wagaung",Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
#adminmenu .wp-submenu a {
	font: normal 11px/18px "Ayar Wagaung", "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

#adminmenu a.menu-top,
#adminmenu .wp-submenu-head {
	font: normal 13px/18px "Ayar Kasone", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

/* end side admin menu */

/* comments/plugins bubble in menu */
#adminmenu #awaiting-mod,
#adminmenu span.update-plugins,
#sidemenu li a span.update-plugins {
	font-family: Ayar, Helvetica, Arial, sans-serif;
}

/* end menu stuff */

/* comments bubble */
.post-com-count-wrapper {
	font-family: Ayar, Helvetica, Arial, sans-serif;
}

#footer,
#footer a {
	font-family: Ayar, Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

p.help,
p.description,
span.description,
.form-wrap p {
	font-family: Ayar, "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

.howto {
	font-family: Ayar, "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

table.diff td, table.diff th {
	font-family: Ayar, Consolas, Monaco, Courier, monospace;
}

.tool-box .title {
	font: 18px/24px "Ayar Wagaung", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

#screen-options-link-wrap,
#contextual-help-link-wrap {
	font-family: Ayar, "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

.inline-edit-row fieldset span.title,
.inline-edit-row fieldset span.checkbox-title {
	font-family: Ayar, Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

.inline-edit-row fieldset ul.cat-checklist label,
.inline-edit-row .catshow,
.inline-edit-row .cathide,
.inline-edit-row #bulk-titles div {
	font-family: Ayar, "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

#utc-time, #local-time {
	font-family: Ayar, "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

h2 .nav-tab {
	font: italic normal normal 24px/35px "Ayar Wagaung", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

#dashboard-widgets h4 {
	font-family: "Ayar Wagaung", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
#dashboard_right_now p.sub {
	font-family: "Ayar Wagaung", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

#dashboard_right_now td.b {
	font-family: "Ayar Wagaung", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

#dashboard_recent_comments .comment-meta .approve {
	font-family: "Ayar Wagaung", "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}
#dashboard_quick_press h4 {
	font-family: "Ayar Wagaung", "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

#dashboard_recent_drafts h4 abbr {
	font-family: "Ayar Wagaung", "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}
a.rsswidget {
	font-family: "Ayar Wagaung", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
#dashboard_plugins h4 {
	font-family: "Ayar Wagaung", "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

#dashboard_plugins h5 {
	font-family: "Ayar Wagaung", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}