/* Created by: Sithu Thwin (frisithu82@gmail.com) on 2/25/2010 -- */
*{font-family: Ayar, Ayar Wazo, Ayar Takhu, Ayar Juno;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,{font-family:Ayar,Ayar Juno,Ayar Takhu, Ayar Wazo, Tahoma, Arial, Helvetica, serif; text-rendering: optimizeLegibility;}
textarea,input[type="text"],input[type="password"],input[type="file"],input[type="button"],input[type="submit"],input[type="reset"],select, option{ font-family:Ayar,Ayar Juno,Ayar Takhu, Ayar Wazo, Tahoma, Arial, Helvetica, serif; text-rendering: optimizeLegibility;}
h1, h2, h3, h4 { font-family:Ayar Wazo,Ayar Juno, Ayar Kasone, Ayar Takhu, Ayar; text-rendering: optimizeLegibility;}
.wrap h2{ font-family:Ayar,Ayar Juno,Ayar Takhu, Ayar Wazo, Tahoma, Arial, Helvetica, serif; text-rendering: optimizeLegibility;}
p { font-family:Ayar,Ayar Juno,Ayar Takhu, Ayar Wazo, Tahoma, Arial, Helvetica, serif; text-rendering: optimizeLegibility;}
body.mceContentBody { font-family:13px/19px Ayar,Ayar Juno,Ayar Takhu, Ayar Wazo, Tahoma, Arial, Helvetica, serif; text-rendering: optimizeLegibility;}
pre { font-family:12px/18px AyarAyar,Ayar Juno,Ayar Takhu, Ayar Wazo, Tahoma, Arial, Helvetica, serif; text-rendering: optimizeLegibility;}
.otf {font-size: 12px;padding: 2px 12px 2px;background-color: #0081A6;-moz-border-radius-topleft: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-top-left-radius: 10px;-webkit-border-bottom-right-radius: 10px;position:fixed;bottom: 0px;right: 120px;width: 90px;z-index:10000000;}
#bm {-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;background-color:#0081A6;font-size:12px;margin-right:10px;right: 0px;padding:2px 10px;position:absolute;top:0;}
.otf .selected {text-decoration: underline;}
.otf a, #bm a {text-decoration: none;color:white;font-family: Trebuchet MS, Helvetica, sans-serif;font-weight: bold;}
#bm a {font-weight: normal;}
#bm a:link {text-decoration: underline;}
.btot{font-size: 12px;padding: 2px 12px 2px;background-color: #0081A6;-moz-border-radius-topleft: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-top-left-radius: 10px;-webkit-border-bottom-right-radius: 10px;position:fixed;bottom: 0px;left: 0px;width: 80px;z-index:10000000;}
.btot a{text-decoration: none;color:white;font-family: Ayar, Trebuchet MS, Helvetica, sans-serif;font-weight: bold;}
.button-primary {font-family: Ayar, Trebuchet MS, Helvetica, sans-serif;}
.button-secondary {font-family: Ayar, Trebuchet MS, Helvetica, sans-serif;}
.button{font-family: Ayar, Trebuchet MS, Helvetica, sans-serif;}
select{font-family: Ayar, Trebuchet MS, Helvetica, sans-serif;}
#searchsubmit{font-family: Ayar, Trebuchet MS, Helvetica, sans-serif;}
#adminmenu a{font-family: Ayar, Trebuchet MS, Helvetica, sans-serif;}
// Begin Calendar CSS
#wp-calendar {text-align:center;empty-cells: hide;margin: 10px auto 0;width: 180px;max-width:180px;padding: 0px;border-collapse: collapse;color:#ffffff;background-color:transparent;}
#wp-calendar thead tr th{height:24px;width:20px;background:none !important;padding:0px;}
#calendar_wrap{text-align:center;width: 200px;max-width:200px;color:#ffffff;background:none !important;}
#wp-calendar #next a {text-align: right;margin-left:10px;font-weight:bold;text-shadow: 0 3px 3px #001100;}
#wp-calendar #prev a {text-align: left;margin-left:10px;font-weight:bold;text-shadow: 0 1px 1px #001100;}
#wp-calendar a {display: block;font-weight:bold;text-shadow: 0 1px 1px #fff;}
#wp-calendar #next a:hover{text-align: right;margin-left:10px;text-shadow: 0 3px 3px #001100;}
#wp-calendar #prev a:hover{text-align: left;margin-left:10px;text-shadow: 0 3px 3px #001100;}
#wp-calendar a:hover{display: block;text-shadow: 0 3px 3px #001100;} 
#wp-calendar caption {text-align: center;padding-bottom:5px;font-weight:bold;color:#333;}
#wp-calendar tbody td.pad{background:transparent;}
#wp-calendar tbody td a{color:#333;height:23px;background:url() repeat !important;}
#wp-calendar tbody td a:hover{text-shadow: 0 3px 3px #fff;text-decoration:none !important;color:red !important;font-weight:bold;font-size:22px;width:23px;text-indent:5px;vertical-align:middle;margin-top:-8px;margin-left:-8px;background:url() repeat !important;}
#wp-calendar td {text-align: center;border: 1px solid #999999;height: 25px;margin: 0px;padding: 0px;width: 25px;}
#wp-calendar #prev{width: auto;border-width: 0px;border-style: none;}
#wp-calendar #next {width: auto;border-width: 0px;border-style: none;}
#wp-calendar  tfoot .pad {border-width: 0px;border-style: none;}
#wp-calendar  tfoot{background: none !important;}
#wp-calendar #today {color:red;font-weight:bold;}
#wp-calendar td.pad:hover { /* Doesn't work in IE */}
#body{margin:0;width: 150px;height: 150px;font-family: Ayar Kasone;font-size:13px;list-style:none !important;text-align:center;text-shadow: 0 3px 3px #000;color:white;line-height:20px;}
#link{font-size:10px;font-family: "Ayar Kasone";}
#datestyle{font-size:22px;list-style:none !important;padding:12px;font-family: "Ayar Kasone";}
#bodystyle{margin:0px;list-style:none !important;padding-top:15px;font-family: "Ayar Kasone";}
#bodystyle ul{list-style:none !important;}
#imgBackground{padding-top:10px;}
#A{color:#fff;}
#Z{color:#fff;}
#mstyle{color:#fff;font-size:18px;font-family: "Ayar Nayon";font-weight:bold;margin-top:-5px;}
#mstyle.mon{color:#fff;font-size:16px;font-family: "Ayar Nayon";font-weight:bold;}
#ystyle{color:#fff;font-size:12px;font-weight:bold;}
#date{
color:#fff;
font-size:12px;
font-weight:bold;
}
#wd{
font-size:12px;
font-weight:bold;
}
p.special{padding-top:8px; height:50px; width:150px; color:#fff;font-weight:bold;background:url(img/special.png) no-repeat;font-size:12px;padding-bottom:10px;margin-bottom:20px;}
	/*this is end of burmese css from a2z*/